* {
  font-family: 'Inter', sans-serif;
  letter-spacing: 0.5px;
  line-height: 1.2;
  box-sizing: border-box;
  font-weight: 300;
}

/* HEADER */
.grid {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;

  background: white;
  padding: 10px 10px;
  z-index: 1000;
}


/* LOGO */
#logo-text {
  font-weight: 700 !important;
  font-size: max(16px, min(2.1vw, 20px));
  color: #ff3131;
  text-transform: none;
}

/* MENU */
.menu {
  display: flex;
  justify-content: flex-end;
}

.menu li {
  list-style: none;
}

/* LINKS */
a {
  text-decoration: none;
  color: #420F0F;
}

/* EMAIL */
.email-button:hover .mail-word {
  font-weight: 700;
}

.spotify-link {
  position: fixed;

  bottom: 10px;
  left: 10px;

  color: #420F0F;
  text-decoration: none;
  font-weight: 300;

  z-index: 1000;
}

.spotify-link:hover {
  font-weight: 700;
}

/* FLOATING */
.floating-menu {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-weight: 300;

}

/* HOVER */
.floating-menu:hover .diary-word {
  font-weight: 700;
}

/* OM MEG*/


/* CURSOR */
.cursor {
  display: inline-block;
  animation: blink 0.8s infinite;
}

@keyframes blink {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
}

.manifest {
  display: flexbox;
  flex-wrap: wrap;
  gap: 0.12em 0.8em;

  max-width: 1500px;
  min-width: 400px;
  min-height: 100vh;
  max-height: 100vh;
  margin: auto;

  align-content: center;

  padding-left: 12vw;
  padding-right: 12vw;

  font-size: clamp(1rem, 3vw, 4rem);
  line-height: 1.4;
}


.name {
  background: pink;
  color: #ff3131;
  font-weight: 500;;
  padding: 0 0.12em;
}

.euphoria {
  text-decoration: underline;
}

.kjepp {
  text-decoration:line-through;
}



.pelle {
  position: relative;
  font-weight: 400;
}

.pelle-popup {
  position: absolute;

  width: 250px;

  top: -280px;
  left: 50%;

  transform: translateX(-50%);

  opacity: 0;
  pointer-events: none;

  transition: opacity 0.3s ease;

  z-index: 9999;
}

.pelle:hover .pelle-popup {
  opacity: 1;
}

.huske {
  display: inline-block;
  transition: transform 0.3s ease;
}

.huske:hover {
  transform: skew(25deg);
}
  
