* {
    font-family:"roboto condensed", sans-serif;
    letter-spacing: 0.5px;
    line-height: 1.20;
    box-sizing: border-box;
    font-weight: 100;
   }

.grid {
    display: grid;
    grid-template-columns: 2fr 1fr;

}

.info {
  font-weight: 200;
 
}

.menu {
  display: flex;
  justify-content: right;
  margin-top: 0px;
}

.menu li {
  list-style: none;
  line-height: 1.25;
  display: inline-block;
  margin-right: 0px;
  font-size: max(16px,min(2.1vw,20px));
}

.mail {
  margin-right: 0.5%;
  margin-top: 6px;
}


h1, li {
  font-size: max(16px,min(2.1vw,20px));
}

p {
  margin-top: 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: max(12px,min(2.1vw,18px));
  font-weight: 100;
}

a:link {
  text-decoration: none;
  color: #420F0F;
  font-weight: 200;
}

a:active {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color:#420F0F;
}

a:hover {
  transition: color 0.2s linear 0.1s;
  color: #420F0F;
}

@media only screen and (min-resolution: 150dpi) {
  /* CSS for high resolution screens */
}

@media only screen and (max-width: 370px) {
  .menu {
    display: grid;
    justify-items: right;
  }
}

#logo-text {
  display: inline-block;
}

@keyframes bounce {
  0%   { transform: scale(1); }
  70%  { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.logo-container {
  display: inline-block;
  text-align: left;
  position: relative;
}

.logo {
  font-weight: 400;
  font-size: max(16px, min(2.1vw, 20px));
  text-transform: uppercase;
}

#toggle-loop {
  margin-top: 6px;
  background-color: white;
  border: 1px solid #420F0F;
  color: #420F0F;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 300;
  font-size: max(14px, min(2vw, 18px));
  display: block;
  user-select: none;
  white-space: nowrap;
  width: max-content;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-align: center;
}

#toggle-loop:hover {
  background-color: #420F0F;
  color: white;
}
#toggle-loop, .email-button {
  background-color: transparent;
 /* border: 1px solid #9DDEED;*/
  color: #420F0F;
  padding: 2px 6px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 4px;
  font-weight: 300;
  font-size: max(14px, min(2vw, 18px));
  text-decoration: none;
  display: inline-block;
  user-select: none;
  white-space: nowrap;
}

#toggle-loop:hover, .email-button:hover {
  color: #F7A1C4;
  text-decoration: none;
}

.logo-row {
  display: flex;
  justify-content: space-between; /* tekst til venstre, knapp til høyre */
  align-items: center; /* justerer på høyden */
  width: 100%; /* fyller bredden til containeren */
}

#logo-text {
  font-size: 1.2rem;
  font-weight: bold;
  color:#420F0F
}

#toggle-loop {
  font-size: 0.9rem;
  padding: 0.4em 0.8em;
  cursor: pointer;
}
